:root {
  --solid-main: #0d0c11;
  --sidenav-black: #121214;
  --sidenav-active: #0d0c11;
  --text-gray: #b3b3b3;
  --text-white: #fff;
  --main-background: #0d0c11;
  --card-background: #121214;
  --hover-home-bg: #0d0c11;
  --bgcol: #0d0c11;
  --scroll: hsla(0, 0%, 90%, 0.07);
  --mobile-side: #181818;
  --logo: #fff;
  --fillsvg: #000;
  --outline: #fff;
  --btns: hsla(0, 0%, 100%, 0.7);
  --sepe: #fff2;
  --card-bg1: #000000;
  --card-small: hsla(0, 0%, 100%, 0.1);
  --text-tit: #fff;
  --svg-fo: hsla(0, 0%, 100%, 0.7);
  --svg-ho: hsla(0, 0%, 100%, 1);
  --menu: #121319;
  --menu-col: #fff;
  --akcent: #5b88e1;
  --brand1: #72d4ff;
  --brand2: #9ee1ff;
  --brandshadow1: #68c1e8;
  --brandshadow2: #91cfea;
  --dslogin: rgb(0, 153, 255);
  --secondary: rgb(29.25, 29.25, 29.25);
  --third: rgb(31, 31, 31);
  --primary-bg: rgba(31, 31, 31, 1);
  --primary: rgba(33, 33, 33, 1);
  --text: #fff;
  --range: #999;
}
